.container {
    padding-right: 30px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}



.amount1{
    
    float: right;
}

.col{

 
     float: right;
}

.container5{


}


